header .configuracoes{
    margin-right: 25px;
    background-color: white;
    border: none;
    width: 30px;
    height: 25px;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


/************** nav configurações *************/
nav#config{
    right: 0;
}

nav.mostrar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

li p.titulo{
    text-align: center;
    font-weight: 700; 
    font-size: 20px;
    margin: 0;
}


/********************** Calendário *****************/
.data {
    margin-top: 10px;
    width: 90%;
    height: 30%;
    padding: 0 15px;
    position: relative;
    display: flex;
    justify-content: center;
    top: 130px;
    align-items: center;
}

.dia-selecionado{
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#dia-numero{
    width: 75px;
    height: 75px;
    background-color: var(--azul);
    border-radius: 8px;
    font-size: 48px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dia-semana{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: var(--fonte-normal);
}

.calendario {
    padding: 20px 10px;
    border-radius: 3px;
    width: 100%;
    max-width: 250px;
    font-family: sans-serif;
}

.grid#header, .grid#body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3px;
}

.grid#header {
    color: var(--fonte-normal);
    margin-bottom: 20px;
}

.grid#body {
    grid-auto-rows: 30px;
    color: var(--fonte-normal);
}

.grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dia {
    cursor: pointer;
    color: #eeeeee;
    border: #eeeeee solid 1px;
}

.period {
    border: var(--fonte-normal) solid 1px;
    color: var(--fonte-normal);
    background-color: var(--verde-seleção);
    transition: 0.2s;
}

.period:hover{
    color: black;
    border-color: var(--verde-logo);
}

.selected {
    background-color: transparent;
    background-color: var(--azul-seleção);
    border-color: var(--azul);
    color: black;
}

.disabled{
    color: transparent;
}

/************** tarefas ************/
div.tarefas{
    overflow-y: auto;
    width: 90%;
    height: 42%;
    padding-top: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-top: #eeeeee solid 1px;
    top: 140px;
}

a.tarefa{
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    color: var(--fonte-normal);
}
.tarefa .horario-tarefa{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: var(--fonte-normal);
    border-bottom: var(--azul-seleção) solid 5px;
}

.tarefa #nome-tarefa{
    font-size: 18px;
    padding-left: 30px;
}

.btn-adicionar{
    width: 50px;
    margin-top: 10px;
    position: relative;
    left: 40%;
    top: 140px;
}

/************** Responsividade ************/
@media (min-width: 375px){
    .titulo .horario{
        font-size: 36px;
    }

    .titulo #nome{
        min-width: 50%;
    }
}

@media (min-width: 500px){
    .dia-selecionado{
        margin-right: 70px;
    }
}

@media (min-width: 600px){
}

@media (min-width: 800px){
    header .configuracoes{
        margin-left: 30px;
        background-color: white;
        border: none;
        width: 30px;
        height: 25px;
        position: absolute;
        right: 0;
    }

    section.tarefa-atual{
        margin: 0 6%;
        width: 50%;
    }

    nav#config{
        top: 10%;
        width: 30%;
        height: 90%;
    }

    div.tarefas{
        height: 38%;
    }

    #dia-numero{
        width: 100px;
        height: 100px;
    }
    
    #dia-semana{
        font-size: 20pt;
        margin-top: 30px;
    }

    a.tarefa{
        width: 93%;
        padding-left: 20px;
    }
    
    a.tarefa:hover{
        border: solid 1px;
        border-left-color: var(--verde-seleção);
        border-top: none;
        border-right: none;
        border-bottom: none;
        padding-left: 30px;
        transition: 0.1s;
    }
}