div.viagem {  
    width: 100%;
    height: 130px;
    position: absolute;
    background-color: rgb(16, 160, 255);
    border-radius: 8px;
    overflow: hidden;
    transition: 0.8s;
    z-index: 9;
}

div.viagem:hover{
    height: 50%;
}

div.viagem > div{
    transition: 0.1s;
}

div.viagem:hover > div{
    opacity: 0;
}

img.imagem-viagem {
    width: 100%; 
}

div.destino-viagem {
    background-color: #026e81b9;   
    color: white;
    height: 30px;   
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    width: 150px;
    position: absolute;
    top: 13px;
    left: 15px;
    border-radius: 8px;
    font-weight: bold;
   }

div.nome-tela {
    background-color: #28de71ab;   
    color: white;
    height: 40px;   
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    width: 150px;
    position: absolute;
    bottom: 13px;
    left: 15px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 22px;
   }
   
div.data-viagem{
    width: 60px;
    height: 70px;
    display: flex; 
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    font-weight: bold;
    background-color: #28de71ab;
    right: 5%;
    top: 10%;
    border-radius: 8px;
    text-align: center;
}