header .voltar{
    margin-right: 25px;
    background-color: white;
    border: none;
    width: 30px;
    height: 25px;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1{
    padding-top: 20px ;
    width: 90%;
    color: var(--fonte-normal);
    font-size: 20px;
}

#cadastro-viagem{
    width: 80%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input.local{
    height: 55px;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--cinza-fundo-form);
    border: var(--cinza-bordas) solid 1px;
}

div.data, .imagem{
    min-height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 0 15px;
    font-size: 14px;
    background-color: var(--cinza-fundo-form);
    border: var(--cinza-bordas) solid 1px;
}
.data #texto, .imagem #texto{
    font-size: 14px;
    font-weight: 400;
    color: var(--fonte-normal);
}

.data #data-termino, #data-inicio{
    width: 50%;
    height: 55px;  
    color: var(--azul);
    background-color: transparent;
    border: 0;  
}

.imagem #texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 99%;
}

#carregar-imagem{
    display: none;
}

img{
    position: relative;
}

button.cadastrar{
    width: 50%;
    height: 55px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    background-color: var(--azul);
    color: white;
    border: var(--azul) solid 1px;
    margin: 10px 0 45px 0;
}

@media (min-width: 500px){
    #cadastro-viagem{
        width: 60%;
    }
}

@media (min-width: 800px){
    
    header .voltar{
        margin-left: 30px;
        background-color: white;
        border: none;
        width: 30px;
        height: 25px;
        position: absolute;
        right: 0;
    }

    h1{
        font-size: 25px;
    }
    
    #cadastro-viagem{
        width: 50%;
    }
}