main#edicao_perfil_inputs{
    align-items: center;
    display: flex;
    flex-direction: column;
}
body{
    height: 98vh;
}
/************ Header ************/
header {
    background-color: #ffffff;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--cinza-bordas) solid 1px;
}

header .menu-landing{
    margin-left: 25px;
    background-color: white;
    border: none;
    width: 30px;
    height: 25px;

}

header .logo{
    width: 100px;
}

header span{
    width: 55px;
}

/***** TROCA DA IMAGEM ******/

    div#edicao_imagem{
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 82px;
        width: 320px;
        justify-content: center;
        margin: 50px 0 0 0;
    }

    div#edicao_imagem > img{
        width: 86px;
        height: 86px;
        border-radius: 40px;
        background-color: #656565;
    }

    div#edicao_imagem > label{
        height: 56px;
        margin: 0 25px 5px 30px;
        color: var(--azul);
        font-weight: 700;
    }

    input#inputImagem{
        display: none;
    }

    div#edicao_fake_input{
        height: 32px;
        width: 198px;
        align-items: center;
        display: flex;
        border: 1px solid #dddddd;
        border-radius: 8px;
        justify-content: center;
        margin: 5px 0 0 0;
    }

    div#edicao_fake_input > p{
        color: #8E8E8E;
        font-size: 12px;
        margin: 0 50px 0 0;
    }

    div#edicao_fake_input > svg{
        margin: 0 0 4px 0;
    }

/****** TROCAS TEXTUAIS ******/
    label#nomeUsuario{
        height: 18px;
        margin: 25px 170px 5px 0;
        color: var(--azul);
        font-weight: 700;
    }

    input#edicao_nome_usuario{
        width: 300px;
        height: 50px;
        background-color: #fafafa;
        border: 1px solid #dddddd;
        border-radius: 8px;
        margin: 0 0 30px 0;
        padding: 0 0 0 10px;
    }

    textarea#edicao_descricao{
        width: 300px;
        height: 140px;
        background-color: #fafafa;
        border: 1px solid #dddddd;
        border-radius: 8px;
        margin: 0 0 20px 0;
        padding: 0 0 0 10px;
        resize: none;
    }

    button#edicao_salvar{
        width: 300px;
        height: 55px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 700;
        background-color: var(--azul);
        color: white;
        border: var(--azul) solid 1px;
        margin: 45px 0 10px 0;
    }