main#edicao_perfil_inputs{
    align-items: center;
    display: flex;
    flex-direction: column;
}

/***** NAV MENU        ******/
    nav#seraomenu{
        background-color: #dddddd;
        display: none;
        height: 680px;
        width: 250px;
    }

/***** TROCA DA IMAGEM ******/

    label#edicao_imagem > p{
        margin: 0 40px 0 0;
    }


    label#edicao_imagem > img{
        width: 86px;
        height: 86px;
        border-radius: 40px;
        background-color: #656565;
    }

    label#edicao_imagem{
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        width: 300px;
        height: 82px;
        margin: 30px 25px 5px 30px;
        color: var(--azul);
        font-weight: 700;
    }

    input#edicao_perfil_inputImagem{
        display: none;
    }

    div#edicao_fake_input{
        height: 32px;
        width: 198px;
        align-items: center;
        display: flex;
        border: 1px solid #dddddd;
        border-radius: 8px;
        justify-content: center;
        margin: 5px 0 0 0;
    }

    div#edicao_fake_input > p{
        color: #8E8E8E;
        font-size: 12px;
        margin: 0 50px 0 0;
    }

    div#edicao_fake_input > svg{
        margin: 0 0 4px 0;
    }

/****** TROCAS TEXTUAIS ******/
    label#nomeUsuario, label#nomePerfil{
        height: 18px;
        margin: 25px 170px 5px 0;
        color: var(--azul);
        font-weight: 700;
    }

    input#edicao_nome_usuario, input#edicao_nome_perfil{
        width: 300px;
        height: 50px;
        background-color: #fafafa;
        border: 1px solid #dddddd;
        border-radius: 8px;
        margin: 0 0 0 0;
        padding: 0 0 0 10px;
    }

    textarea#edicao_descricao{
        width: 300px;
        height: 140px;
        background-color: #fafafa;
        border: 1px solid #dddddd;
        border-radius: 8px;
        margin: 30px 0 20px 0;
        padding: 0 0 0 10px;
        resize: none;
    }

    button#edicao_salvar{
        width: 50%;
        min-height: 55px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 700;
        background-color: var(--azul);
        color: white;
        border: none;
        margin: 10px 0 50px 0;
        transition: 0.1s;
    }

/**** CAMPOS ***/
    div#edicao_campos{
        display: flex;
        flex-direction: column;
    }
    div#edicao_content_nome_perfil, div#edicao_content_nome_usuario{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

@media (min-width: 800px){
    nav#seraomenu{
        display: flex;
        margin: 0 0 200px 0;
        position: relative;
    }

    button.menu-landing{
        display: none;
    }

    img.logo{
        height: 73px;
        width: 147px;
    }

/***** TROCA DA IMAGEM ******/

    label#edicao_imagem{
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 260px;
        width: 202px;
        justify-content: center;
        margin: 0;
        margin-top: 20px;
    }

    label#edicao_imagem > img{
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }

    label#edicao_imagem > p{
        display: none;
    }

    div#edicao_fake_input{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: #fff;
        position: relative;
        left: 70px;
        bottom: 65px;
    }

    div#edicao_fake_input > p{
        display: none;
    }

    div#edicao_fake_input > svg{
        width: 20px;
        height: 20px;
    }

/****** TROCAS TEXTUAIS *****/
    label#nomeUsuario, label#nomePerfil{
        height: 18px;
        margin: 25px 170px 5px 0;
        color: var(--azul);
        font-weight: 700;
    }

    textarea#edicao_descricao{
        width: 650px;
        height: 140px;
    }

    button#edicao_salvar:hover{
        border-radius: 0;
    }
/***** CAMPOS ******/
    /* div#edicao_campos{
        flex-direction: row;
        align-items: space-around;
        justify-content: space-around;
        width: 100%;
    } */
}