.conteudo{
    height: 100%;
}

.convites-embarque{
    overflow-y: auto;
    width: 100%;
    height: 70%;
}

.convite {
    height: 100px;
    /* background-color: #F4FDFF; */
    border-width: thin;
    border: 3px solid;
    border-color: transparent;
    margin: 10px;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    transition: 0.2s;
}

.convite:hover{
    border-left: solid 3px var(--verde-seleção);
    box-shadow: 0px 0px 10px #eeeeee;
    margin-right: 10px;
}

.user {
    width: 70%;
    display: flex;
}

.user-img{
    margin-top: 20px;
    margin-left: 5px;
}

.user-convite-perfil{
    margin-top: 32px;
    margin-left: 10px;
}

#convite-username {
    font-size: 18px;
    font-weight: bold;
}

#convite-nickname{
    margin-top: 1px;
    color: #656363;
    font-size: 13px;
}

.convite-conteudo{
    width: 80%;
    display: flex;
    flex-flow: wrap row;
    position: relative;
}

.convite-destino{
    display: flex;
    justify-content: space-around;
    background-color: #026F81;
    border-radius: 8px;
    min-width: 90%;
    height: 40px;
    margin: auto;
    margin-top: 10px;
}

.convite-destino > p {
    margin: 0 10px;
    display: flex;
    align-self: center;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.convite-opcoes {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.convite-aceitar{
    width: 40%;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    background-color: #28DE70;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;    
}

.convite-aceitar > button {
    border: none;
    background-color: transparent;
    display: flex;
    align-self: center;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.convite-recusar{
    width: 40%;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    background-color: #E84242;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;  
}

.convite-recusar > button {
    border: none;
    background-color: transparent;
    display: flex;
    align-self: center;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

@media(max-width: 480px) {
    .user{
        width: 100%;
    }
    .convite {
        flex-direction: column;
        height: auto;
        padding-bottom: 20px;
    }  
}