body{
    max-height: 1580px;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/************ Header ************/
header {
    background-color: #ffffff;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--cinza-bordas) solid 1px;
}

header .menu-landing{
    margin-left: 25px;
    background-color: white;
    border: none;
    width: 30px;
    height: 25px;

}

header .logo{
    width: 100px;
}

header span{
    width: 55px;
}

/************ Nav ************/
nav{
    width: 100vw;
    height: 330px;
    z-index: 10;
    position: absolute;
    display: none;
    background-color: white;
    animation: anim 0.5s forwards;
}

nav.show{
    display: block;
}

ul{
    margin: 0;
    width: 100vw;
    height: 100%;
    padding: 0;
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    z-index: -2;
}

ul.hide{
    display: none;
    z-index:2;
}

li{
    list-style: none;
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--cinza-bordas) solid 1px;
    z-index: 2;
}

li a{
    padding: 25px 10%;
    width: 100%;
    color: #006478;
    font-weight: 700; 
    font-size: 20px;
}

li .menu{
    font-weight: 700; 
    font-size: 18px;
}

li #cadastrar{
    margin: 0 25px 0 10%;
    width: 160px;
    height: 40px;
    border-radius: 8px;
    background-color: white;
    color: #006478;
    border: var(--azul) solid 1px;
}

li #entrar{
    margin-right: 10%;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--azul);
    color: white;
    border: var(--azul) solid 1px;
}

/************ Divs ************/
main {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#imagem, #mockup{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.criar, .compartilhar, .conectar{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 375px;
}

#texto{
    width: 100%;
    height: 45px;
    font-weight: 500;
}

.criar #mockup{
    margin: 0 auto;
    background-image: url(../icons/criar.png);
    width: 80%;
    height: 40%; 
}

.criar #texto{
    margin: auto;
}

.criar #imagem{
    margin: 20px 0 0 auto;
    background-image: url(../icons/travel_plans.svg);
    width: 70%;
    height: 55%;
}

.compartilhar #imagem{
    margin: 0 0 auto;
    background-image: url(../icons/undraw_travelers.svg);
    width: 50%;
    height: 42%;
}

.compartilhar #texto{
    margin: auto;
}

.compartilhar #mockup{
    margin: 20px 0 0 auto;
    background-image: url(../icons/compartilhar.png);
    width: 70%;
    height: 43%; 
}

.conectar #mockup{
    margin: 0;
    background-image: url(../icons/conectar.png);
    width: 20%;
    height: 42%; 
}

.conectar #texto{
    margin: 0;
    width: 75%;
    position: relative;
    align-self: flex-end;
    bottom: 30%;
}

.conectar #imagem{
    margin: 0 auto;
    background-image: url(../icons/friends.svg);
    width: 100%;
    height: 70%;
}

/************* Modais ******************/

     button.menu{
        z-index: 2;
     }

     div.overlay{
        background-color: rgba(65, 65, 65, 0.5);
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -2;
    }

    a.login.esqueci{
        font-size: 12px;
        margin: 0 0 0px 150px;
        text-decoration: none;
        color: var(--azul);
    }

    button.login.fechar, button.cadastro.fechar{
        font-size: 20px;
        font-weight: 700;
        background-color: #ffffff;
        border: 0;
        color: var(--azul);
        margin: 15px 0 0 90%;
    }

    button.login.entrar{
        width: 300px;
        height: 55px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 700;
        background-color: var(--azul);
        color: white;
        border: var(--azul) solid 1px;
        margin: 45px 0 10px 0;
    }

    button.cadastro.cadastrar{
        width: 300px;
        height: 55px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 700;
        background-color: var(--azul);
        color: white;
        border: var(--azul) solid 1px;
        margin: 0 0 0 0;
    }

    button.login.google{
        width: 300px;
        height: 55px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 700;
        align-items: center;
        background-color: white;
        color: #006478;
        border: var(--azul) solid 1px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 0 5px 0;
    }

    button.login.google > p{
        margin: 0 0 0 10px;
    }

    div.login, div.cadastro{
        align-items: center;
        display: none;
    }

    div.login.modal, div.cadastro.modal{
        background-color: #ffffff;
        flex-direction: column;
        height: 100vh;
        justify-content: flex-start;
        position: fixed;
        overflow-y: hidden;
        left: 0px;
        top: 0px;
        width: 100vw;
        z-index: -2;
    }

    div.login.cadastrar{
        flex-direction: row;
        justify-content: center;
        margin: 15px 0 0 0;
    }

    div.login.cadastrar > svg{
        margin: 0 10px 5px 0;
    }

    div.login.cadastrar > a {
        text-decoration: none;
        margin: 0 0 0 5px;
        color: var(--azul);
    }

    div.login.show, div.cadastro.show{
        display: flex;
        z-index: 5;
    }

    form.login, form.cadastro{
        display: flex;
        flex-direction: column;
    }

    input.login, input.cadastro{
        background-color: #fafafa;
        border: 1px solid #dddddd;
        border-radius: 8px;
        height: 55px;
        margin: 0 0 20px 0;
        padding: 0 0 0 10px;
        width: 300px;
    }

    p.login.err, p.cadastro.err{
        height: 12px;
    }

    p.cadastro{
        color: #656565;
        font-size: 16px;
        margin: 5px 0 8px 0;
        font-weight: 700;
    }

/************ Responsividade ************/
@media (min-width: 800px){
  /*   main{
        border: var(--cinza-bordas) solid 1px;
        border-top: 0;
        border-radius: 8px;
        margin-bottom: 20px;
    } */

	header .menu-landing{
        display: none;
    }

    header .logo{
        padding: 0 10px;
        border-right: var(--cinza-bordas) solid 1px;
    }

    header .logo-main {
        width: 140px;
        margin-left: 43%;
    }

    nav{
        background-color: transparent;
        height: 80px;
        width: 86%;
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 0;
        right: 0;   
    }

    ul{
        padding: 10px 0;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        z-index: -2;
    }
    
    li{
        padding-left: 15px;
        border-bottom: none;
        height: 80%;
    }
    li a{
        padding: 25px 0;
        font-size: 18px;
    }

    li #cadastrar{
        margin: 0 10px;
        width: 120px;
    }
    
    li #entrar{
        margin-right: 10px;
        width: 80px;
    }

    #btn{
        margin: 0;
        order: 4;
        border-left: var(--cinza-bordas) solid 1px;
    }

    ul.hide{
        display: none;
        z-index:2;
    }

    .criar, .compartilhar, .conectar{
        margin: 50px 0;
        position: relative;
        width: 95%;
        height: 400px;
    }

    #texto{
        height: 60px;
        font-size: 20px;
    }
    
    .criar #mockup{
        margin: 30px 0 0;
        width: 48%;
        height: 65%;
    }
    
    .criar #texto{
        width: 45%;
        margin: 30px auto 0;
    }
    
    .criar #imagem{
        margin: 0;
        width: 40%;
        height: 75%;
        position: absolute;
        top: 0;
        right: 0;
   }
    
    .compartilhar #imagem{
        width: 25%;
        height: 100%;
        position: absolute;
        top: 0;
        top: 10%;
 }
    
    .compartilhar #texto{
        padding: 10px;
        width: 35%;
        position: absolute;
        right: 40%;
        bottom: 55%;
  }
    
    .compartilhar #mockup{
        width: 45%;
        height: 95%;
        position: absolute;
        right: 0;
        top: 10%;
}
    
    .conectar #mockup{
        width: 12%;
        height: 65%;
        position: absolute;
        left: 10%;
        bottom: 0;
    }
    
    .conectar #texto{
        width: 45%;
        position: absolute;
        left: 0;
        top: 15%;      
}
    
    .conectar #imagem{
        width: 55%;
        height: 85%;
        position: absolute;
        right: 0;
        bottom: 0;
 }

 /**     MODAIS  **/

    div.overlay.show{
        display: block;
        z-index: 3;
    }

     div.login.modal, div.cadastro.modal{
        height: 800px;
        width: 752px;
        top: 85px;
        left: calc(calc(100% - 752px)/2);
     }
}