/************** Div Principal ************/

.secao-principal, .conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.conteudo{
    width: 90%;
    height: 90%;
}

/************** h1 ************/
.h1{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.titulo {
    margin: 0;
    padding-top: 20px;
    width: 40%;
    color: var(--fonte-normal);
    font-size: 20px;
}

input.pesquisar {
    background-image: url(../icons/pesquisar.svg);
    background-position: 95%;
    background-color: #fafafa;
    background-size: 16px;
    background-repeat: no-repeat;
    font-size: 16px;
    align-self: center;
    justify-content: flex-start;
    padding-left: 5px;
    position: relative;
    width: 70%;
    height: 25px;
    color: var(--fonte-normal);
    border: var(--cinza-bordas) solid 1px;
    border-radius: 8px;

    margin-bottom: 50px;

    top: 40px;
    right: 15%;
}

/************** Cards ************/
.viagens{
    overflow-y: scroll;
    width: 100%;
    height: 85%;
}

.overlay-imagem {  
    width: 95%;
    height: 120px;
    position: relative;
    background-color: rgb(16, 160, 255);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 10px 20px 10px;
    border-radius: 8px;
    border: solid var(--cinza-bordas) 1px;
    overflow: hidden;
}

.imagem-viagem {
    width: 100%;
}

.destino-viagem {
    background-color: #026e81b9;   
    color: white;
    height: 40px;   
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 150px;
    position: absolute;
    bottom: 13px;
    left: 15px;
    border-radius: 8px;
    font-weight: bold;
   }
   
.data-viagem{
    width: 60px;
    height: 70px;
    display: flex; 
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    font-weight: bold;
    background-color: #28de71ab;
    right: 5%;
    top: 10%;
    border-radius: 8px;
    text-align: center;
}

.categorias-viagem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 60px;

    top: 40px;
    left: 30%;
}

.btn-cadastrar{
    margin-top: 10px;
    position: absolute;
    float: inline-end;
    bottom: 0;
    right: 5%;
}

svg > path {
    fill: rgba(200, 200, 200, 0.5);
}

svg.selecionado > path{
    fill: #28DE70;
}

div.membros-fotos{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    height: 40px;
    position: relative;
    width: 200px;
    
    top: 10px;
    left: 2%;
}

div.membros-fotos.ativa{
    background-color: rgba(200, 200, 200, 0.5);
}

img.imagem-membro{
    height: 32px;
    width: 32px;
    margin: 4px 4px 4px 4px;
}

p.autor{
    align-items: center;
    background-color: var(--azul);
    border-radius: 10px;
    color: white;
    display: flex;
    font-size: 10pt;
    height: 20px;
    justify-content: center;
    margin: 0;
    position: relative;
    width: 100px;

    top: 30px;
    left: 80%;
}

.membros-fotos p{
    background-color: #65636396;
    color: white;
    height: 20px;
    padding: 5px;
    margin: 0;
    border-radius: 10px;
    font-size: 14px;
}

/************** Responsividade ************/
@media (min-width: 800px){	
    .h1{
        margin-top: 10px;
        margin-bottom: 25px;
    }    
    .titulo {	    	        
        font-size: 25px;
    }	 
    .btn-cadastrar{
        bottom: 2%;
    }
    nav{
        display: flex;
    }

    div.overlay-imagem:hover{
        margin-left: 12px;
        border-left: solid 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left-color: var(--verde-seleção);
        transition: 0.1s;
    }
}