:root {  /* referencia a raiz do documento*/
    --cinza-bordas: #dddddd; 
    --fonte-normal:#656363;
    --cinza-fundo-form: #fafafa;
    --azul-logo: #006478;
    --azul: #026f81;
    --azul-seleção: #a5f2ff;
    --azul-claro: #f4fdff;
    --verde-logo: #28DE70;
    --verde-seleção: #92eb9b;
    --amarelo: #efe05a;
    --vermelho-btn: #e84242;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
html {
    font-family: Roboto, sans-serif; 
    }

body {
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 10px 0;
    max-width: 1024px;
    border: var(--cinza-bordas) solid 1px;
    border-radius: 8px;
}

a {
    text-decoration: none;
}

@media (min-width: 800px){
    body{
        margin: 20px auto; 
    }
    
    header .logo-main {
        width: 140px;
        margin-left: 55%;
    }

    h1 {
        margin-left: left;
        width: 100%;
        margin-left: 5%;
        color: var(--fonte-normal);
    }

    #card-viagem {
        margin-left: 30%;
        width: 69%;
        max-width: 1024px;
        border: var(--cinza-bordas) solid 1px;
        border-radius: 8px;
    }

    section {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        margin-bottom: 10px;
    }

    section > h1 {
        width: 100px;
    }
    .lista-viagens{
        width: 65%;
        max-width: 650px;
    }
    
    .imagem-lista-viagens {
        background-size: cover;
        margin-left: 32px;
        width: 650px;
        margin-top: 10px;

    }
    header.landing {
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: var(--cinza-bordas) solid 1px;
    }

    .header-main {
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: none;
    }

    .input-pesquisar {
        background-image: url(../icons/pesquisar.svg);
        background-position: 95%;
        background-size: 16px;
        background-repeat: no-repeat;
        align-self: center;
        justify-content: flex-start;
        flex-direction: column;
        margin-right: 25px;
        padding-left: 5px;
        width: 250px;
        height: 21px;
        border-radius: 8px;
        border-color: #DDDDDD;
        color: var(--fonte-normal);
    }
}