@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {  /* referencia a raiz do documento*/
    --cinza-bordas: #dddddd; 
    --fonte-normal:#656363;
    --cinza-fundo-form: #fafafa;
    --azul-logo: #006478;
    --azul: #026f81;
    --azul-seleção: #a5f2ff;
    --azul-claro: #f4fdff;
    --verde-logo: #28DE70;
    --verde-seleção: #92eb9b;
    --amarelo: #efe05a;
    --vermelho-btn: #e84242;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background:  #dddddda2;
    border-radius: 10px;
    scrollbar-base-color: #dddddda2;
}

html {
    font-family: Roboto, sans-serif;
    }

body {
    position: relative;
    margin: auto;
    padding: 10px 0;
    max-width: 1024px;
    min-height: 700px;
    max-height: 93vh;
}

a {
    text-decoration: none;
} 

button:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

button:hover {
    cursor: pointer;
}

.h1{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.titulo {
    margin: 0;
    padding-top: 20px;
    width: 50%;
    color: var(--fonte-normal);
    margin-left: 60px;
    font-size: 25px;
    width: 200px;
}

@media (min-width: 800px){
    body{
        min-height: 800px;
        margin: 20px auto; 
        border: var(--cinza-bordas) solid 1px;
        border-radius: 8px;
    }

    header .logo-main {
        width: 140px;
        margin-left: 55%;
    }

    svg:hover > path, svg:hover > g > path{
        cursor: pointer;
        transition: 0.5s;
        fill: var(--amarelo);
    }
}