main#membros_content{
    display: flex;
    flex-direction: column;
}

p{
    margin: 0;
}

p#membros_convites_titulo, div#membros_adicionar_titulo{
    display: flex;
    flex-direction: column;
    color: var(--azul);
    font-weight: bold;
    margin: 5px 0px 0 20px;
    width: 90%;
}

p.membro_nome_perfil{
    color: var(--fonte-normal);
    font-size: 14pt;
    font-weight: bold;
}

p.membro_nome_usuario{
    color: var(--fonte-normal);
    font-size: 10pt;
}

button.membro_cancelar_convite_web{
    display: none;
}

button.membro_cancelar_convite_mobile{
    border-radius: 18px;
    font-size: 10pt;
    font-weight: 700;
    background-color: var(--vermelho-btn);
    border: 0;
    color: #ffffff;
    height: 25px;
    width: 25px;
}

div.membro_infos{
    margin-left: 10px;
}

div#membros_usuarios, div#membros_convidados{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    height: 230px;
    overflow: scroll;
}

div#membros_adicionar_titulo > svg{
    position: relative;
    top: 25px;
    left: 91%;
}

div.membro_convidado{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93%;
    margin-top: 10px;
}

div.membro_card{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 256px;
    margin: 5px 0 5px 25px;
}

img.membro_imagem{
    background-color: black;
    border-radius: 30px;
    height: 60px;
    width: 60px;
}

span.membros_divisor{
    background-color: var(--cinza-bordas);
    margin: 10px 0 0 5%;
    height: 1px;
    width: 90%;
}

input#membros_busca_amigo{
    background-color: #fafafa;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin: 0 0 0 0;
    height: 35px;
    padding: 0 0 0 10px;
    width: 99%;    
}

@media (min-width: 800px){
    button.membro_cancelar_convite_mobile{
        display: none;
    }

    button.membro_cancelar_convite_web{
        display: block;
        border-radius: 8px;
        font-size: 14pt;
        font-weight: 700;
        background-color: var(--vermelho-btn);
        border: 0;
        color: #ffffff;
        height: 35px;
    }

    div.membro_card{
        margin-left: 40px;
    }

    div#membros_adicionar_titulo{
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 92%;
    }

    div#membros_adicionar_titulo > svg{
        position: relative;
        top: 0;
        left: 64%;
    }

    input#membros_busca_amigo{
        margin: 0;
        width: 300px;    
    }
    
}