main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1{
    padding-top: 20px ;
    width: 90%;
    color: var(--fonte-normal);
    font-size: 20px;
}

div.texto{
    margin: 10px 0 5% 0;
    width: 90%;
    background-color: #f4fdff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto p{
    color: var(--fonte-normal);
    line-height: 25px;
    width: 90%;
}

div.membros{
    width: 90%;
    padding-left: 10px;
}

a.git{
    margin: 20px 0;
    display: flex;
}

.git p{
    padding-left: 20px;
    font-weight: 700;
    color: var(--azul);
}

div.rodape{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-top: var(--cinza-bordas) solid 1px;
}

.rodape p{
    font-size: 12px;
    font-weight: 700;
    color: var(--fonte-normal);
}

@media (min-width: 800px){
   h1{
       font-size: 30px;
   }

   div.texto{
       width: 70%;
   }

   .texto p{
       font-size: 18px;
   }

   div.membros{
    width: auto;
   }

   div.rodape{
       padding: 10px 0;
       flex-direction: row-reverse;
       justify-content: space-evenly;
   }

   .rodape p{
       font-size: 15px;
   }
}