header .voltar{
    margin-right: 25px;
    background-color: white;
    border: none;
    width: 30px;
    height: 25px;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

section.tarefa-atual{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/************** infos ************/
div.titulo{
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo #horario{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: var(--fonte-normal);
    border-bottom: var(--azul-seleção) solid 5px;
}

.titulo #nome{
    width: 40%;
    font-size: 18px;
    padding-left: 5px;
}

div.infos{
    padding: 20px 0 10px 0;
    width: 90%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--cinza-bordas) solid 1px;
}

.infos #preco{
    margin-left: 5%;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--fonte-normal);
}

.infos #preco svg{
    margin-right: 10px;
}

.infos #preco svg path{
    fill: var(--verde-seleção);
}

.infos #transporte svg{
    width: 78px;
    height: auto;
}

.infos #transporte svg path{
    fill: var(--azul-seleção);
}

/************** descrição ************/
div.descricao{
    margin-top: 20px;
    overflow-y: auto;
    width: 100%;
    height: 70%;
    color: var(--fonte-normal);
    text-align: center;
}

.botoes{
    display: flex;
    justify-content: space-between;
}

.btn-excluir{
    background-color: white;
    border: none;
    width: 60px;
}

.btn-editar{
    width: 50px;
    margin-top: 15px;
}

/************** tarefas do dia ************/
section.tarefas{
    display: none;
}

/************** Responsividade ************/
@media (min-width: 375px){
    .titulo #horario{
        font-size: 36px;
    }

    .titulo #nome{
        min-width: 50%;
    }
}

@media (min-width: 800px){
    header .voltar{
        margin-left: 30px;
        background-color: white;
        border: none;
        width: 30px;
        height: 25px;
        position: absolute;
        right: 0;
    }

    section.tarefa-atual{
        margin: 0 6%;
        width: 50%;
    }

    main{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    section.tarefas{
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 37%;
        height: 75%;
        border-left: var(--cinza-bordas) solid 1px;
        padding: 20px 0;
    }

    section h3{
        align-self: flex-start;
        margin: 0 0 30px 20px;
        color: var(--fonte-normal);
    }

    div.tarefas{
        width: 85%;
        display: flex;
        flex-direction: column;
    }

    div.card{
        width: 100%;
        height: 60px;
        margin-bottom: 20px;
        background-color: var(--cinza-fundo-form);
        border-radius: 8px;
        border: var(--cinza-bordas) solid 1px;
    }
}