<!DOCTYPE html>
<html lang="pt-br">
<link rel="shortcut icon" href="../public/icons/logo-min.ico">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/main.css">
    <link rel="stylesheet" href="../public/styles/menu.css">
    <link rel="stylesheet" href="../public/styles/membros.css">
    <link rel="stylesheet" href="../public/styles/cabecalho.css">

    <title>GoodTrip | Membros</title>
</head>
<body >
    <header class="header-landing">
        <button class="menu-landing"><svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.75 4.1875H20.25C20.625 4.1875 21 3.85938 21 3.4375V1.5625C21 1.1875 20.625 0.8125 20.25 0.8125H0.75C0.328125 0.8125 0 1.1875 0 1.5625V3.4375C0 3.85938 0.328125 4.1875 0.75 4.1875ZM0.75 11.6875H20.25C20.625 11.6875 21 11.3594 21 10.9375V9.0625C21 8.6875 20.625 8.3125 20.25 8.3125H0.75C0.328125 8.3125 0 8.6875 0 9.0625V10.9375C0 11.3594 0.328125 11.6875 0.75 11.6875ZM0.75 19.1875H20.25C20.625 19.1875 21 18.8594 21 18.4375V16.5625C21 16.1875 20.625 15.8125 20.25 15.8125H0.75C0.328125 15.8125 0 16.1875 0 16.5625V18.4375C0 18.8594 0.328125 19.1875 0.75 19.1875Z" fill="#026F81"/>
            </svg></button>
        <img class="logo" src="../public/icons/logo_extenso.svg" alt="">
        <span></span>
    </header>
    <nav  id="menu">
        <div class="perfil">
            <img src="" class="img-perfil">
            <div class="dados-perfil">
                <div class="dados-perfil" id="nome">
                    <!-- Adição dinâmica -->
                </div>
                <div class="dados-perfil" id="user">
                    <!-- Adição dinâmica -->
                </div>
            </div>
        </div>
        <ul>
            <li class="menu-li"> 
                <a class="ancora-lateral" href="listaDeViagem.html"> 
                    <img class="img-menu-lateral" src="../public/icons/viagem.svg"> 
                    <p>Viagens</p>
                </a> 
            </li>
            <!-- <li class="menu-li"> 
                <a class="ancora-lateral" href="minhaMala.html"> 
                    <img class="img-menu-lateral" src="../public/icons/mala.svg"> 
                    <p>Mala</p>
                </a> 
            </li> -->
            <li class="menu-li"> 
                <a class="ancora-lateral" href="embarque.html"> 
                    <img class="img-menu-lateral" src="../public/icons/embarcar.svg"> 
                    <p>Embarque</p>
                </a> 
            </li>
            <span></span>
            <li class="menu-li"> 
                <a class="ancora-lateral" href="edicaoPerfil.html"> 
                    <img class="img-menu-lateral" src="../public/icons/config.svg"> 
                    <p>Atualizar perfil</p>
                </a> 
            </li>
            <li class="menu-li"> 
                <a class="ancora-lateral" href="alterar-senha.html"> 
                    <img class="img-menu-lateral" src="../public/icons/senha.svg"> 
                    <p>Alterar Senha</p>
                </a> 
            </li>
            <span></span>
            <li class="menu-li"> 
                <a class="ancora-lateral" href="sobre.html"> 
                    <img class="img-menu-lateral" src="../public/icons/sobre.svg"> 
                    <p>Sobre</p>
                </a> 
            </li>
            <span></span>
            <li class="menu-li"> 
                <a class="ancora-lateral" href="index.html"> 
                    <img class="img-menu-lateral" src="../public/icons/sair.svg"> 
                    <p>Sair</p>
                </a> 
            </li>
    </nav>
        <main id="membros_content">
            <div class="viagem">
                <div class="destino-viagem">
                    <!-- Adição dinâmica -->
                </div>
                <div class="data-viagem">
                    <!-- Adição dinâmica -->
                </div>
                <div class="nome-tela">
                    Membros
                </div>
                <img class="imagem-viagem" src="">   
            </div>
            <div id="membros_usuarios">
                <!-- Membros adicionados dinamicamente -->
            </div>
            <div id="membros_convidados">
                <p id="membros_convites_titulo">Convites pendentes</p>
                <!--- Convidados adicionados dinamicamente -->
            </div>
            <div id="membros_convidar">
                <div id="membros_adicionar_titulo">
                    <p>Convidar</p>
                    <svg id="button_search" width="15" height="15" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.56202 14.4654H7.60747L7.96913 14.1038C6.68037 12.6112 5.90454 10.6715 5.90454 8.54776C5.90454 3.82676 9.7313 0 14.4522 0C19.1732 0 23 3.82676 23 8.54776C23 13.2688 19.1732 17.0955 14.4522 17.0955C12.3285 17.0955 10.3888 16.3196 8.89623 15.0375L8.53457 15.3991V16.438L1.95942 23L0 21.0406L6.56202 14.4654ZM14.4522 14.4654C17.7201 14.4654 20.3699 11.8156 20.3699 8.54776C20.3699 5.27992 17.7201 2.63009 14.4522 2.63009C11.1844 2.63009 8.53457 5.27992 8.53457 8.54776C8.53457 11.8156 11.1844 14.4654 14.4522 14.4654Z" fill="#026F81"/>
                    </svg>
                    <input id="membros_busca_amigo" type="search" name="buscar_amigo" placeholder="Buscar amigo">
                </div>
                <!-- Busca dinâmica -->
            </div>
            <div id="erro"></div>
        </main>

        <!-- TEMPLATES -->
        <template id="t_membro_card">
            <div class="membro_card">
                <img class="membro_imagem" src="" alt="">
                <div class="membro_infos">
                    <p class="membro_nome_perfil"><!-- Nome --></p>
                    <p class="membro_nome_usuario"><!--- User -->></p>
                </div>
            </div>
        </template>

        <template id="t_membro_convidado">
            <div class="membro_convidado">
                <div class="membro_card">
                    <img class="membro_imagem" src="" alt="">
                    <div class="membro_infos">
                        <p class="membro_nome_perfil"><!-- Nome --></p>
                        <p class="membro_nome_usuario"><!-- User --></p>
                    </div>
                </div>
                <button class="membro_cancelar_convite">
                    <span class="membro_cancelar_convite_web">Cancelar</span>
                    <span class="membro_cancelar_convite_mobile">X</span>
                </button>
            </div>
        </template>

        <template id="t_membro_busca">
            <div class="membro_convidado">
                <div class="membro_card">
                    <img class="membro_imagem" src="" alt="">
                    <div class="membro_infos">
                        <p class="membro_nome_perfil"><!-- Nome --></p>
                        <p class="membro_nome_usuario"><!-- User --></p>
                    </div>
                </div>
                <button class="membro_convidar">Convidar</button>
            </div>
        </template>
    </body>
    <script src="../bundles/menus.bundle.js"></script>
    <script src="../bundles/travelHeader.bundle.js"></script>
    <script src="../bundles/membros.bundle.js"></script>
</html>