<!DOCTYPE html>
<html lang="pt-br">
<link rel="shortcut icon" href="../../public/icons/logo-min.ico">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles/main.css">
    <title>GoodTrip</title>
</head>
<body>
    <header class="header-main">
        <img class="logo-main" src="../../public/icons/logo_extenso.svg" alt="">
        <span></span>
    </header>
    <main class="content">
        <section id="card-viagem">
            <h1> Viagens </h1>
            <input class="input-pesquisar" placeholder="Procurar viagem" type="text">

            <section class="lista-viagens">
                <img class="imagem-lista-viagens" src="../../public/icons/teste.svg">
                <img class="imagem-lista-viagens" src="../../public/icons/teste.svg">
                <img class="imagem-lista-viagens" src="../../public/icons/teste.svg">

            </section>
        </section>
    </main>
</body>
</html>