<!DOCTYPE html>
<html lang="pt-br">
<link rel="shortcut icon" href="../../public/icons/logo-min.ico">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles/main.css">

    <title>GoodTrip</title>
</head>
<body >
    <section class="secao-principal">
        <nav id="navBar" class="menu-lateral">
            <div class="perfil">
                <img src="../../public/icons/perfil.svg" alt="">
                <div class="dados-perfil">
                    <div class="dados-perfil-nome">
                        Ana Julia 
                    </div>
                    <div class="dados-perfil-user">
                        @annajd
                    </div>
                    <img class="btn-voltar" onclick="expandedLess()" src="../../public/icons/voltar.svg">
                </div>
            </div>
            <ul>
                <li class="menu-li"> 
                    <a class="ancora-lateral" href="#"> 
                        <img class="img-menu-lateral" src="../../public/icons/viagem.svg"> 
                        <p>Viagens</p>
                    </a> 
                </li>
                <li class="menu-li"> 
                    <a class="ancora-lateral" href="#"> 
                        <img class="img-menu-lateral" src="../../public/icons/amigos.svg"> 
                        <p>Amigos</p>
                    </a> 
                </li>
                <li class="menu-li"> 
                    <a class="ancora-lateral" href="#"> 
                        <img class="img-menu-lateral" src="../../public/icons/mala.svg"> 
                        <p>Mala</p>
                    </a> 
                </li>
                <li class="menu-li"> 
                    <a class="ancora-lateral" href="#"> 
                        <img class="img-menu-lateral" src="../../public/icons/embarque.svg"> 
                        <p>Embarque</p>
                    </a> 
                </li>

                <!-- Separador -->
                <img class="separador-menu-lateral" src="../../public/icons/linhaMenuLateral.svg">

                <li class="menu-li"> 
                    <a class="ancora-lateral" href="#"> 
                        <img class="img-menu-lateral" src="../../public/icons/config.svg"> 
                        <p>Atualizar perfil</p>
                    </a> 
                </li>
                <li class="menu-li"> 
                    <a class="ancora-lateral" href="#"> 
                        <img class="img-menu-lateral" src="../../public/icons/senha.svg"> 
                        <p>Alterar senha</p>
                    </a> 
                </li>

                <!-- Separador -->
                <img class="separador-menu-lateral" src="../../public/icons/linhaMenuLateral.svg">

                <li class="menu-li"> 
                    <a class="ancora-lateral" href="#"> 
                        <img class="img-menu-lateral" src="../../public/icons/sobre.svg"> 
                        <p>Sobre</p>
                    </a> 
                </li>

                <!-- Separador -->
                <img class="separador-menu-lateral" src="../../public/icons/linhaMenuLateral.svg">

                <li class="menu-li"> 
                    <a class="ancora-lateral" href="#"> 
                        <img class="img-menu-lateral" src="../../public/icons/sair.svg"> 
                        <p>Sair</p>
                    </a> 
                </li>

            </ul>
        </nav>

        <header class="header-principal">
            <button onclick="expandedMore()" class="menu-landing"><img src="../../public/icons/menu.svg"></button>
            <img class="logo-main-goodtrip" src="../../public/icons/logo_extenso.svg" alt="">

        </header>
        <div class="conteudo">
                <h1 class="titulo">Viagens</h1>
                <input class="pesquisar" type="text" placeholder="Procurar viagem">

                <div class="overlay-imagem">
                    <div class="destino-viagem">
                        Praga
                    </div>
                    <div class="data-viagem">
                            Jan
                            2021  
                    </div>
                    <img class="imagem-viagem" src="../../public/icons/imagemViagem.svg">   
                </div>
                <div class="overlay-imagem">
                    <div class="destino-viagem">
                        Bahia
                    </div>
                    <div class="data-viagem">
                        Jan
                        2021  
                    </div>
                    <img class="imagem-viagem" src="../../public/icons/imagemViagem.svg">   
                </div>
                <div class="overlay-imagem">
                    <div class="destino-viagem">
                        Chile
                    </div>
                    <div class="data-viagem">
                        Jan
                        2021  
                    </div>
                    <img class="imagem-viagem" src="../../public/icons/imagemViagem.svg">   
                </div>

                
                <div class="btn-cadastrar">
                    <a href="#">
                        <img class="img-adicionar" src="../../public/icons/adicionar.svg" alt="">
                    </a>
                </div>
        </div>
    </section>
    <script src='../../public/scripts/main.js'></script>

</body>
</html>